*{
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    place-content: center;
}

.app{
    position: relative;
    width: max-content;
    height: max-content;
}

.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}


.screen.active{
    opacity: 1;
    pointer-events: auto;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
    margin: 20px;
}

.cell{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 3rem;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

h1,h2{
    text-align: center;
}

button{
    display: block;
    margin: 5px auto;
    border-radius: 20px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}